<meta
  name="description"
  content="Independently owned, personalized vending machine services in the greater Grand Rapids, Kalamazoo, and Battle Creek areas
            of Michigan"
/>
<meta name="robots" content="index, follow" />
<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/vending-machine.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="Vending Services by D&M Ventures" />
<title>Vending Services by D&M Ventures</title>
